body {
    background-color: rgb(200,200,200);
    
}

nav a {
    color: crimson;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}
/*
img {
    width:350px;
    height:auto;    
}
*/
h1 {
    text-align: center;
    border: 5px solid aqua;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 100px;
    color: whitesmoke;
    backround-color: Darkcyan;
    font-family: Comic Sans ms;
    font-size: 150px;
    } 
 

    p2 img {
        border: ridge 5px red;
        width: 700px;
        height: auto;
    }





p {
    color: black;
    background-color: cyan;
    font-size: 30px;
   
     
    
}
h2 {
    color: aqua;
    border: 5px solid red;
   font-size: 50px;
   
   
}

img {
    border: 5px solid blue;
    margin-bottom: 350px;
}

td {
    color: white;
    border: solid 2px red;
}

iframe {
    display: block;
    margin: auto;
}

table2, th2, td2 {
   border: 0;
   font-family: comic sans ms;
   color: red;
   font-size: 50px;
}
td2 {
    padding: 35px;
}


  



